app = "suprasupport-frontend"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/"

[env]
  VITE_API_URL = "https://app-yvdtmbaz.fly.dev"
  VITE_WS_URL = "wss://app-yvdtmbaz.fly.dev/ws"
