app = "suprasupport-api"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    path = "/healthz"
    protocol = "http"
    timeout = "5s"
    tls_skip_verify = true

  [http_service.concurrency]
    type = "connections"
    hard_limit = 550
    soft_limit = 500

  [[http_service.ports]]
    handlers = ["http", "tls", "proxy_proto", "ws"]
    port = 80
    force_https = true

  [[http_service.ports]]
    handlers = ["tls", "http", "proxy_proto", "ws"]
    port = 443

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
